{% extends 'flights/base.html' %}

{% block title %}لیست پروازها{% endblock %}

{% block content %}
    <h1 class="text-center my-4">لیست پروازها</h1>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>مبدا</th>
                <th>مقصد</th>
                <th>فاصله (km)</th>
                {% if user.is_authenticated %}
                    <th>عملیات</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight.origin_airport }}</td>
                    <td>{{ flight.destination_airport }}</td>
                    <td>{{ flight.distance }}</td>
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'register_flight' flight.id %}" class="btn btn-primary btn-sm">ثبت پرواز</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}