{% extends 'flights/base.html' %}

{% block title %}لیست پروازها{% endblock %}

{% block content %}
    <h1 class="text-center my-4">لیست پروازها</h1>

    {% if flights %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>نام پرواز</th>
                    <th>مبدا (فرودگاه - شهر)</th>
                    <th>مقصد (فرودگاه - شهر)</th>
                    <th>فاصله (km)</th>
                    <th>تعداد مسافر</th>
                    {% if user.is_authenticated %}
                        <th>عملیات</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td><strong>{{ flight.name }}</strong></td>
                    
                    <td>
                        {{ flight.origin.name }} ({{ flight.origin.code }})<br>
                        <small class="text-muted">{{ flight.origin.city.name }}</small>
                    </td>
                    
                    <td>
                        {{ flight.destination.name }} ({{ flight.destination.code }})<br>
                        <small class="text-muted">{{ flight.destination.city.name }}</small>
                    </td>
                    
                    <td>{{ flight.distance_km }} کیلومتر</td>
                    
                    <td>
                        <span class="badge bg-primary rounded-pill">
                            {{ flight.passengers.count }}
                        </span>
                    </td>
                    
                    {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'register_flight' flight.id %}" class="btn btn-sm btn-success">
                            <i class="fas fa-ticket-alt me-1"></i>ثبت‌نام
                        </a>

                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center py-5 text-muted">
                        <i class="fas fa-plane-departure fa-3x mb-3 d-block"></i>
                        <h5>هیچ پروازی ثبت نشده است</h5>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="text-center py-5 text-muted">
        <i class="fas fa-plane-departure fa-4x mb-4"></i>
        <h4>پروازی یافت نشد</h4>
    </div>
    {% endif %}
{% endblock %}